/*Style of the menu with the items: Money, population and fame*/
menu{
  background-color: lightseagreen;
  width: 20%;
  font-size: 150%;
  display: inline-block;
  position: inherit;
  text-align: center;
}
/*Style of the body of the game*/
body {
    background-color: #456789;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
}

background {
  background-image: url(../images/background_2.jpeg);
  width:  100%; 
  height: 100%;
  background-repeat: repeat;
}



/*Style for the button on the start screen*/
button {
  margin-top: 25%;
  margin-left: 25%;
  width: 50%;
  Height: 15%;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*Style of the items placed in the game: Car,Coin,Road,Sign,District*/
car {
    background-image: url(../images/car.png);
    width: 45px;
    height:90px;
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    animation: cardrive 10s linear infinite;
}



car_return {
    background-image: url(../images/car_return.png);
    width: 45px;
    height: 90px;
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    animation: cardrive_return 10s linear infinite;
}

car_right {
    background-image: url(../images/car_right.png);
    width: 90px;
    height: 45px;
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    animation: cardrive_right 15s linear infinite;
}

car_left {
    background-image: url(../images/car_left.png);
    width: 85px;
    height: 45px;
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    animation: cardrive_left 15s linear infinite;
}

road{
      background-image: url(../images/road.jpg);
      width: 118px;
       height: 100vh;
      
}

road_turn{
      background-image: url(../images/road_turn.jpg);
      background-size: auto;
      width: 100vw;
      height: 118px;
}

recreation {
    background-image: url(../images/district_1.jpg);
    background-size: auto;
    width: 300px;
    height: 300px;
  
}

stop_sign{
  background-image: url(../images/Stop_sign.png);
    width: 38px;
    height: 100px;
}

coin{
  background-image: url(../images/coin.png);
    width: 60px;
    height: 60px;
}

buy_1 {
    background-image: url(../images/for_sale.gif);
    width: 215px;
    height: 200px;
}



/*Keyframes for the Cars*/
  @keyframes cardrive {
  0% {
      transform: translateY(10vh);
    }
    
    100% {
      transform: translateY(-110vh);
    }
  }

@keyframes cardrive_return {
0% {
    transform: translateY(-10vh);
  }
  
  100% {
    transform: translateY(110vh);
  }
}

@keyframes cardrive_right {
0% {
    transform: translateX(10vw);
  }
  
  100% {
    transform: translateX(-110vw);
  }
}

@keyframes cardrive_left {
0% {
    transform: translateX(-10vw);
  }
  
  100% {
    transform: translateX(110vw);
  }
}