body {
    background-color: #70CF51;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

background {
  background-image: url(../images/background_2.jpeg);
  width:  100%; 
  height: 100%;
  background-repeat: repeat;
}

car {
    background-image: url(../images/car.png);
    width: 50px;
    height:90px;
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    animation: cardrive 5s linear infinite;
}



car_return {
    background-image: url(../images/car_return.png);
    width: 50px;
    height: 90px;
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    animation: cardrive_return 6s linear infinite;
}

car_right {
    background-image: url(../images/car_right.png);
    width: 90px;
    height: 50px;
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    animation: cardrive_right 8s linear infinite;
}

car_left {
    background-image: url(../images/car_left.png);
    width: 90px;
    height: 50px;
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    animation: cardrive_left 9s linear infinite;
}

road{
      background-image: url(../images/road.jpg);
      width: 125px;
      height: 125px;
}

road_turn{
      background-image: url(../images/road_turn.jpg);
      width: 145px;
      height: 125px;
}

recreation {
    background-image: url(../images/district_1.jpg);
    width: 300px;
    height: 300px;
  
}

stop_sign{
  background-image: url(../images/Stop_sign.png);
    width: 300px;
    height: 300px;
}

/*Keyframes*/
  @keyframes cardrive {
  0% {
      transform: translateY(10vh);
    }
    
    100% {
      transform: translateY(-110vh);
    }
  }

@keyframes cardrive_return {
0% {
    transform: translateY(-10vh);
  }
  
  100% {
    transform: translateY(110vh);
  }
}

@keyframes cardrive_right {
0% {
    transform: translateX(10vw);
  }
  
  100% {
    transform: translateX(-110vw);
  }
}

@keyframes cardrive_left {
0% {
    transform: translateX(-10vw);
  }
  
  100% {
    transform: translateX(110vw);
  }
}
